.DS_Store
.idea/
.vscode/
__pycache__/
*.egg-info/
venv/

wordle/wordle_keys.json
*.log
# custom results
results/
first_words.txt

# secrets
key.json
# optional game registry
game_registry.json
# custom backends
*_api.py

# cached images
mapworld/escapegame/resources/images
mm_mapworld/mm_mapworld_main/resources/images/
multimodal_referencegame/resources
textmapworld/textmapworld_main/generated/
wordle/resources/target_words/en/new-york-times-crossword-clues-answers-19932021.zip
wordle/resources/target_words/en/nytcrosswords.csv
wordle/resources/target_words/en/official_recognized_words.txt


# ipynb checkpoints
.ipynb_checkpoints

# manually configure logging
logging.yaml
